@font-face {
  font-family: LinkSans-Regular;
  src: url(./fonts/LinkSans-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: LinkSans-Medium;
  src: url(./fonts/LinkSans-Medium.woff2) format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: LinkSans-ExtraBold;
  src: url(./fonts/LinkSans-ExtraBold.woff2) format("woff2");
  font-weight: 800;
}

:root {
  --background-color: #111111;
  --secondary-color: #222222;
  --text-color: #ffffff;
  --muted-background-color: #333333;
  --muted-text-color: #aaaaaa;
  --primary-background-color: #1db954;

  --borderRadiusSm: 8px;
  --borderRadius: 12px;
  --borderRadiusMd: 16px;
  --borderRadiusLg: 24px;
  --borderRadiusXL: 40px;

  --paddingSm: 8px;
  --padding: 16px;
  --paddingMd: 24px;
  --paddingLg: 36px;
  --paddingXL: 46px;
  --paddingXXl: 80px;

  --gapSm: 8px;
  --gap: 16px;
  --gapMd: 24px;
  --gapLg: 36px;
  --gapXl: 46px;
  --gapXXl: 80px;

  --max-w-xs: 320px;
  --max-w-md: 384px;
  --max-w-lg: 448px;
  --max-w-xl: 512px;
  --max-w-2xl: 576px;
  --max-w-3xl: 672px;
  --max-w-4xl: 768px;
  --max-w-5xl: 896px;
  --max-w-6xl: 1024px;
  --max-w-7xl: 1176px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: LinkSans-Regular;
  font-weight: 400;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#audio-player {
  display: none;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  position: relative;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

p {
  font-size: 16px;
}

h6 {
  font-size: 18px;
}

h5 {
  font-size: 20px;
}

h4 {
  font-size: 24px;
  font-family: LinkSans-Medium;
}

h3 {
  font-size: 28px;
  font-family: LinkSans-Medium;
}

h2 {
  font-size: 32px;
  font-family: LinkSans-Medium;
}

h1 {
  font-size: 36px;
  font-family: LinkSans-ExtraBold;
}

.btn {
  width: fit-content;
  padding: var(--paddingSm) var(--padding);
  border: none;
  border-radius: var(--borderRadiusXL);
  font-size: 16px;
  cursor: pointer;
}

nav {
  position: fixed;
  height: 90px;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--padding) var(--paddingMd);
  background: var(--background-color);

  & .left {
    display: flex;
    flex: 1;
  }

  & .center {
    display: flex;
    gap: var(--gapSm);

    & .center-left {
      border-radius: var(--borderRadiusXL);
      background: var(--secondary-color);
      padding: var(--padding);
    }

    & .center-right {
      background: var(--secondary-color);
      padding: var(--padding);
      border-radius: var(--borderRadiusXL);
      min-width: var(--max-w-xl);
    }
  }

  & .right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: var(--gapSm);

    & .explore-premium {
      display: flex;
      align-items: center;
      background: var(--text-color);
      color: var(--background-color);
    }

    & .download-app {
      display: flex;
      align-items: center;
      gap: var(--gapSm);
    }

    & .notifications {
      display: flex;
      align-items: center;
      gap: var(--gapSm);
    }
  }
}

footer {
  position: fixed;
  background: var(--background-color);
  height: 106px;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  padding: var(--padding) var(--paddingMd);
  gap: var(--gapSm);

  & .left {
    display: flex;
    flex: 1;
    align-items: center;
    gap: var(--gap);

    & img {
      width: 64px;
      height: 64px;
    }

    .left-content {
      display: flex;
      flex-direction: column;

      & p {
        color: var(--muted-text-color);
      }
    }
  }

  & .center {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: var(--gapSm);

    & .top {
      display: flex;
      align-items: center;

      & .btn-play {
        padding: 0;

        .play {
          font-size: 42px !important;
        }
      }

      & .btn-shuffle.active,
      & .btn-loop.active {
        color: #1db954;
        position: relative;
      }

      & .btn-shuffle.active::after,
      & .btn-loop.active::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #1db954;
      }

      & .btn {
        & span {
          display: block;
          align-items: center;
        }
      }
    }

    & .bottom {
      display: flex;
      gap: var(--gap);
      align-items: center;

      & .progress {
        min-width: var(--max-w-xl);
        max-width: var(--max-w-xl);
        width: 100%;
        height: 8px;
        background: var(--muted-background-color);
        border-radius: var(--borderRadiusXL);
        position: relative;
        cursor: pointer;

        & .progress-bar {
          height: 100%;
          background: var(--text-color);
          border-radius: var(--borderRadiusXL);
          width: 0%;
          transition-duration: 500ms;
        }
      }
    }
  }

  & .right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gapSm);

    & .btn span {
      display: block;
      align-items: center;
    }

    & .volume {
      display: flex;
      align-items: center;
      gap: var(--gapSm);

      & .btn {
        cursor: pointer;

        & span {
          display: block;
          align-items: center;
        }
      }

      & .volume-bar {
        min-width: 150px;
        max-width: 150px;
        width: 100%;
        height: 8px;
        background: var(--muted-background-color);
        border-radius: var(--borderRadiusXL);
        position: relative;
        cursor: pointer;

        & .volume-level {
          height: 100%;
          background: var(--text-color);
          border-radius: var(--borderRadiusXL);
          width: 50%;
          transition-duration: 500ms;
        }
      }
    }
  }
}

main {
  width: 100%;
  min-height: calc(100vh - 196px);
  margin-top: 90px;
  margin-bottom: 106px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "left right";
  gap: var(--gap);
  overflow: hidden;
  padding: 0 var(--paddingSm);

  & .left {
    grid-area: left;
    background-color: var(--secondary-color);
    color: black;
    border-radius: var(--borderRadius);

    & button {
      background: white;
      color: black;
    }
  }

  & .right {
    grid-area: right;
    background-color: var(--secondary-color);
    border-radius: var(--borderRadius);
    padding: var(--paddingLg);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    max-height: calc(100vh - 196px);
    overflow-y: auto;
    overflow-x: hidden;

    & .section {
      display: flex;
      flex-direction: column;
      gap: var(--gapSm);
      flex-shrink: 0;

      & .section-container {
        display: flex;
        gap: var(--gapSm);
        height: fit-content;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;

        & .section-content {
          display: flex;
          flex-direction: column;
          padding: var(--padding);
          gap: var(--gapSm);
          border-radius: var(--borderRadius);
          cursor: pointer;
          flex-shrink: 0;

          & .song-img {
            position: relative;
            width: 200px;
            border-radius: var(--borderRadius);
            overflow: hidden;
            height: 200px;

            & .btn {
              background: var(--primary-background-color);
              width: fit-content;
              padding: var(--paddingSm);
              position: absolute;
              right: 5%;
              bottom: 5%;
              display: none;

              & span {
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--background-color);
                font-size: 32px;
              }
            }
          }

          & .song-info {
            display: flex;
            flex-direction: column;

            & p:nth-child(1) {
              color: var(--text-color);
            }

            & p {
              color: var(--muted-text-color);
              max-width: 200px;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
        }

        & .section-content:hover {
          background: var(--muted-background-color);
          transition-duration: 500ms;

          & .btn {
            display: flex;
          }
        }
      }
    }
  }
}
